@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Roboto, Georgia, "Times New Roman", Times, serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 150px;
  height: 30px;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(54, 96, 211);
  color: white;
}

button:hover {
  background-color: rgba(45, 70, 141, 0.904);
}
button:active {
  background-color: rgb(90, 128, 230);
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  height: 40vw;
  align-content: flex-start;
  background-color: black;
}

.container div {
  border: solid 1px black;
  background-color: lightblue;
}
